@font-face {
  font-family: 'CircularStd';
  font-weight: 400;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Book.otf') format('opentype');
}
@font-face {
  font-family: 'CircularStd';
  font-weight: 500;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'CircularStd';
  font-weight: 700;
  font-style: normal;
  src: local('CircularStd'), url('CircularStd-Bold.otf') format('opentype');
}

::-webkit-scrollbar {
  width: 5px !important;
}

::-webkit-scrollbar-track{
  background-color: rgb(255, 255, 255) !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(204, 204, 204) !important;
}